* {
	border: 0;
	box-sizing: border-box;
	margin: 0;
	outline: none;
	padding: 0;
}

body {
  background-color: peru;
}
h1 {
  text-align: center;
  color:#333333;
  font-family:'Arial',sans-serif;
  font-size:24px;
}
p {
  text-align: center;
  color:#E3E3E3;
}
canvas {
  display: block;
  margin: 0 auto;
  background-color: #666;
  border:5px solid #000000;
  border-radius:15px;
}
button{
  color:#333;
  background-color:#FFB708;
  padding:10px 30px;
  
}